@import url('https://fonts.googleapis.com/css?family=Raleway|Staatliches');


body{
	margin: 0;
	padding: 0;
  font-family: 'raleway',sans-serif;
  overflow-x: hidden;
 }

/* ===================== navbar ========= */

.site-header a {
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  margin: 5px;
}
.heading:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  border: 2px;
}
.navbar-nav{
  min-height: 50px;
}
.navbar-inner{
  background: transparent;
}
.navbar-nav li .active {
  background: #235369;
  border-radius: 5px;
}
.navbar-nav li a:hover {
  background: #235369;
}
nav.solid{
  background: rgba(0,0,0,0.8);
}

/* ============= hero section ========== */
 #hero{
   width: 100%;
   height: 100vh;
   background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../assets/images/header_image.jpg') top left repeat;
   background-size: cover;
 }
 #typed1 {
  font-size: 25px;
}
#typed-para{
  padding-top: 100px;
  color: #fff;
}
#typed-para h1{
  margin-top: 100px;
}

/* =============== our services section ================= */
#services h1{
  margin-top: 50px;
  margin-bottom: 50px;
}
:root{
  --white: #fff;
  --gr-color1: #FACC1E;
  --gr-color2: #FF7924;
  --gr-color3: #00C0A7;
  --gr-color4: #00E97C;
  --gr-color5: #FC4365;
  --gr-color6: #FE6229;
  --gr-color7: #009AFC;
  --gr-color8: #E75A7D;
}
.serviceBox{
  background-color: var(--white);
  font-family: 'Niramit', sans-serif;
  text-align: center;
  margin: 30px 15px;
  border: 1px solid transparent;
  box-shadow: -5px -5px 0 0 rgba(0,0,0,0.1);
  position: relative;
}
.serviceBox .service-icon{
  color: var(--white);
  background: linear-gradient(45deg,var(--gr-color1),var(--gr-color1),var(--gr-color2));
  font-size: 60px;
  line-height: 120px;
  height: 120px;
  width: 120px;
  margin: -35px auto 20px;
  border-radius: 50%;
  transition:all 0.3s;
}
.serviceBox:hover .service-icon{
  text-shadow: 0 0 2px #333;
  box-shadow: 0 0 0 7px var(--white) inset, 0 0 0 10px var(--gr-color2);
}
.serviceBox .title{
  color: var(--white);
  background: linear-gradient(45deg,var(--gr-color2),var(--gr-color2),var(--gr-color1),var(--gr-color1));
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 0;
  margin: 0 -15px 10px;
  display: block;
  position: relative;
}
.serviceBox .title:before,
.serviceBox .title:after{
  content: '';
  background: linear-gradient(45deg, transparent 49%, #a5480e 50%);
  height: 15px;
  width: 14px;
  position: absolute;
  left: 0;
  top: 100%;
}
.serviceBox .title:after{
  background: linear-gradient(225deg, transparent 49%, #a5480e 50%);
  top: auto;
  bottom: 100%;
  left: auto;
  right: 0;
}
.serviceBox .description{
  color: #666;
  font-size: 15px;
  line-height: 25px;
  padding: 0 10px 10px;
}
.serviceBox.green .service-icon{
  background: linear-gradient(45deg,var(--gr-color3),var(--gr-color3),var(--gr-color4));
}
.serviceBox.green:hover .service-icon{
  box-shadow: 0 0 0 7px var(--white) inset, 0 0 0 10px var(--gr-color3);
}
.serviceBox.green .title{
  background: linear-gradient(45deg,var(--gr-color3),var(--gr-color3),var(--gr-color4),var(--gr-color4));
}
.serviceBox.green .title:before{
  background: linear-gradient(45deg, transparent 49%, #057264 50%);
}
.serviceBox.green .title:after{
  background: linear-gradient(225deg, transparent 49%, #08894b 50%);
}
.serviceBox.pink .service-icon{
  background: linear-gradient(45deg,var(--gr-color5),var(--gr-color5),var(--gr-color6));
}
.serviceBox.pink:hover .service-icon{
  box-shadow: 0 0 0 7px var(--white) inset, 0 0 0 10px var(--gr-color5);
}
.serviceBox.pink .title{
  background: linear-gradient(45deg,var(--gr-color5),var(--gr-color5),var(--gr-color6),var(--gr-color6));
}
.serviceBox.pink .title:before{
  background: linear-gradient(45deg, transparent 49%, #a80624 50%);
}
.serviceBox.pink .title:after{
  background: linear-gradient(225deg, transparent 49%, #ad350a 50%);
}
.serviceBox.blue .service-icon{
  background: linear-gradient(45deg,var(--gr-color7),var(--gr-color7),var(--gr-color8));
}
.serviceBox.blue:hover .service-icon{
  box-shadow: 0 0 0 7px var(--white) inset, 0 0 0 10px var(--gr-color7);
}
.serviceBox.blue .title{
  background: linear-gradient(45deg,var(--gr-color7),var(--gr-color7),var(--gr-color8),var(--gr-color8));
}
.serviceBox.blue .title:before{
  background: linear-gradient(45deg, transparent 49%, #0d6ca8 50%);
}
.serviceBox.blue .title:after{
  background: linear-gradient(225deg, transparent 49%, #a30d30 50%);
}

/* ================ testimonials section ================= */
#testimonials h1{
  position: relative;
  color:white;
}
#testimonials h1::after{
	content: "";
	width: 130px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
  background: #57AACD;
  color: white;
	left: 0;
	right: 0;
	bottom: -10px;
}
.carousel-inner .carousel-item .img-box{
	width: 135px;
	height: 135px;
}
.carousel-control-prev{
	left: -100px;
}
.carousel-control-next{
	right: -100px;
}
.carousel-indicators{
	top: 320px;
}
@media (min-width: 320px) and (max-width: 640px) {
	.carousel-inner .carousel-item p{
		font-size: 14px;
	}
	.carousel-control-prev{
		left: -40px;
	}
	.carousel-control-next{
		right: -40px;
	}
 	.carousel-indicators{
		top: 400px;
	}
}
#testimonials {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
#testimonials video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#testimonials .container {
  position: relative;
  z-index: 2;
}

#testimonials .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
}

/* ======================= clients section ==================== */
#clients .row{
  margin-bottom: 40px;
}
#clients{
  margin: 10px;
}
#clients h1{
  position: relative;
}
#clients h1::after{
	content: "";
	width: 130px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
  background: #57AACD;
	left: 0;
	right: 0;
	bottom: -10px;
}
#clients img {
  height: 100px;
  width: 200px;
 -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
  }

  #clients img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
  }

@media only screen and (max-width:990px){
  .serviceBox{ margin: 40px 10px 60px; }
}

@media only screen and (max-width: 400px),
  only screen and (max-device-width: 400px) {
    #hero{
      width: 100%;
      height: 100vh;
      background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../assets/images/header_image_mobile.jpg') top left repeat;
      background-size: cover;
    }
    nav{
      background-color: rgba(0,0,0,1);
    }
    .navbar-inner{
      background: rgba(0,0,0,1);
    }
  }